<div class="container">
    <h1>Consultas</h1>
    <a href="/cadastrarConsultas"><button type="" class="btn-cadastrar">
            <i class="fa fa-plus-circle"></i>Cadastrar</button>
    </a>
    <br>

{{>_msg}}

<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dr.</th>
            <th>Turno</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Serviço</th>
            <th>Paciente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each cadConsulta}}
        <tr>
            <td>{{profissional}}</td>
            <td>{{turno}}</td>
            <td>{{formatData dataDaConsulta}}</td>
            <td>{{hora}}</td>
            <td>{{cadServico}}</td>
            <td>{{cadPaciente.nome}}</td>
            <td class="text-center">
                <a href="/delet-cadastrarConsultas/{{_id}}">
                    <button type="a" class="btn-excluir">Excluir</button>
                </a>
                <a href="/edit-cadastrarConsultas/{{_id}}">
                    <button type="a" class="btn-editar">Editar</button>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
